<section class="section section--forecast">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col">
      <div class="section__card-image mdl-card mdl-shadow--2dp section__card-image--portrait">
        <div class="mdl-card__title mdl-card--expand"></div>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--6-col">
      <h2 class="section__title">Forecast</h2>
      <p>The forecast helps you anticipate the money you have to save for current and future expenses as soon as you receive an income. You will never have any surprises at the end of the month!</p>
    </div>
  </div>
</section>