header.header {
  background-color: $color-primary !important;
  text-transform: uppercase;

  .mdl-layout-icon {
    background: $color-primary url('./assets/images/icon.png') center / contain no-repeat;
  }

  .mdl-layout-title {
    a {
      text-decoration: none;
      color: $color-white;
    }
  }
}