<a class="components__get-the-app-button mdl-button mdl-button--raised mdl-button--colored mdl-js-button mdl-js-ripple-effect"
   id="{{id}}">Get the app</a>
<ul class="components__get-the-app-button-menu mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
    for="{{id}}">
  <li class="mdl-menu__item">
    <a class="mdl-menu__item" href="https://budgetforecast.firebaseapp.com" target="_blank">Progressive Web App</a>
  </li>
  <li disabled class="mdl-menu__item">
    <span>iTunes App Store <small>(coming soon)</small></span>
  </li>
  <li disabled class="mdl-menu__item">
    <span>Google Play Store <small>(coming soon)</small></span>
  </li>
</ul>