<footer class="mdl-mini-footer">
  <div>
    <div class="mdl-mini-footer__left-section">
      <div class="mdl-logo"><a href="/">Budget Forecast</a></div>
      <ul class="mdl-mini-footer__link-list">
        <li><a href="terms-conditions">Terms & Conditions</a></li>
        <li><a href="privacy-policy">Privacy Policy</a></li>
      </ul>
    </div>
    <div class="mdl-mini-footer__right-section">
      <!--<button class="mdl-mini-footer__social-btn"></button>
      <button class="mdl-mini-footer__social-btn"></button>
      <button class="mdl-mini-footer__social-btn"></button>-->
    </div>
  </div>
  <div>
    <small class="text-center">
      Mobile App, Progressive Web App and website created, developed and designed by <a href="https://au.linkedin.com/in/julienevano
  " target="_blank">Julien Evano</a>.
      <br/>
      Copyright © 2016 Julien Evano. All rights reserved.
    </small>
  </div>
</footer>