<section class="section section--income-expense section--grey">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col">
      <h2 class="section__title">Income / Expense</h2>
      <p>The income / expense calculates the percentage represented by each budget category and its respective cost for a defined period, e.g. monthly. Now you can easily see how much your daily coffee is costing you money per year, or how much your annual insurance costs per day!</p>
    </div>
    <div class="mdl-cell mdl-cell--6-col">
      <div class="section__card-image mdl-card mdl-shadow--2dp section__card-image--portrait section__card-image--right">
        <div class="mdl-card__title mdl-card--expand"></div>
      </div>
    </div>
  </div>
</section>