<section class="section section--home mdl-typography--text-center">
  <h1>Budget Forecast</h1>
  <p class="headline">Setup, manage and synchronise your personal budget with other devices in real-time, all within a simple, easy-to-use interface!</p>
  {{> ../../components/get-the-app-button/get-the-app-button id='home__get-the-app-button'}}
  <div class="logo"></div>
</section>
<a class="home__fab mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--fab mdl-shadow--4dp"
   href="{{scrollTo}}">
  <i class="material-icons">&#xE313;</i>
</a>