// Colors
$color-primary:    #79C273;
$color-secondary:  #676767;
$color-danger:     #f53d3d;
$color-light:      #f4f4f4;
$color-dark:       #222;
$color-white:      #ffffff;
$color-favorite:   #69BB7B;
$color-text:       #676767;

// Media
$mobile-max-width: 900px;