// @import "../../node_modules/material-design-lite/src/variables";

/* Material Design Lite */

// Responsive
$layout-screen-size-threshold: 768px !default;

/* Budget Forecast */

// Responsive
$layout-screen-size-large-phone: 414px !default;

// Colors
$color-primary:    #79C273;
$color-secondary:  #676767;
$color-light:      #f4f4f4;
$color-dark:       #222;
$color-extra-light:#fff;
