<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <meta name="description" content="{{description}}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="h4Dh7eSX2J1AhsU3SqyYHh-dzmpo_Rov8y6hkxG2ais" />

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  <base href="{{baseUrl}}">
</head>
<body>
  <div class="mdl-layout mdl-js-layout">
    {{> header/header}}
    <main class="mdl-layout__content">
      {{> @partial-block }}
      {{> footer/footer}}
    </main>
  </div>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-83261885-1', 'auto');
    ga('send', 'pageview');
  </script>
</body>
</html>