main {
  margin-top: -1px;

  section.section {
    clear: both;
    color: $color-secondary;
    overflow: hidden;

    &.section--grey {
      background-color: $color-light;
    }

    .section__card-image.mdl-card {
      background-color: $color-extra-light;

      &.section__card-image--portrait {
        min-width: 320px;
        min-height: 400px;
      }

      &.section__card-image--landscape {
        min-width: 460px;
        min-height: 300px;
      }

      &.section__card-image--right {
        float: right;
      }
    }
  }

  @media (min-width: $layout-screen-size-threshold) {
    section.section {
      padding: 54px;
      min-height: 340px;
      max-height: 510;
    }
  }
}

@import 'home/home';
@import 'budget/budget';
@import 'accrual-balance/accrual-balance';
@import 'forecast/forecast';
@import 'income-expense/income-expense';