<section class="section section--accrual-balance section--grey">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet">
      <h2 class="section__title">Accrual balance</h2>
      <p>The accrual balance computes the estimated forecast of your credit vs debit and your savings throughout the year, visible as a list or chart. Now you can easily optimise your savings!</p>
    </div>
    <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet">
      <div class="section__card-image mdl-card mdl-shadow--2dp section__card-image--landscape section__card-image--right">
        <div class="mdl-card__title mdl-card--expand"></div>
      </div>
    </div>
  </div>
</section>