<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Budget Forecast</title>
  <meta name="description" content="Budget Forecast">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
  <div class="mdl-layout mdl-js-layout">
    {{> partials/header/header}}
    {{> partials/main/main}}
  </div>
</body>
</html>