<section class="section section--budget">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet">
      <div class="section__card-image mdl-card mdl-shadow--2dp section__card-image--portrait">
        <div class="mdl-card__title mdl-card--expand"></div>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--6-col ">
      <h2 class="section__title">Budget</h2>
      <p>Creating a personal budget will help you keep control of your finances and work out how much money you need to put away on a regular basis to meet your savings goals.</p>
      <p>Budget Forecast allows you to:</p>
      <ul>
        <li>create your own customised budget items,</li>
        <li>synchronise your budget across multiple devices, and</li>
        <li>maintain and update your budget as needed.</li>
      </ul>
    </div>
  </div>
</section>